/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.hidden {
  visibility: hidden;
}

